<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css" />
    <title>Ecommerce clone</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">&#9776;</button>
                <a href="index.html"><img src="../loccco-brand.png" /></a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a class="signin-button" href="signin.html">Login</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping categories</h3>
            <button class="sidebar-close" onclick="closeMenu()">x</button>
            <ul>
                <li><a href="">Mobiles</a></li>
                <li><a href="">Earphones</a></li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/oppo-reno3.jpeg" alt="product1" />
                            <div class="product-name"><a href="product.html">Oppo Reno 3</a></div>
                            <div class="product-brand">Oppo</div>
                            <div class="product-price">45000</div>
                            <div class="product-ratings">4.2stars (10 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/oppo-reno3.jpeg" alt="product1" />
                            <div class="product-name"><a href="product.html">Oppo Reno 3</a></div>
                            <div class="product-brand">Oppo</div>
                            <div class="product-price">45000</div>
                            <div class="product-ratings">4.2stars (10 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/oppo-reno3.jpeg" alt="product1" />
                            <div class="product-name"><a href="product.html">Oppo Reno 3</a></div>
                            <div class="product-brand">Oppo</div>
                            <div class="product-price">45000</div>
                            <div class="product-ratings">4.2stars (10 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/oppo-reno3.jpeg" alt="product1" />
                            <div class="product-name"><a href="product.html">Oppo Reno 3</a></div>
                            <div class="product-brand">Oppo</div>
                            <div class="product-price">45000</div>
                            <div class="product-ratings">4.2stars (10 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/oppo-reno3.jpeg" alt="product1" />
                            <div class="product-name"><a href="product.html">Oppo Reno 3</a></div>
                            <div class="product-brand">Oppo</div>
                            <div class="product-price">45000</div>
                            <div class="product-ratings">4.2stars (10 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/oppo-reno3.jpeg" alt="product1" />
                            <div class="product-name"><a href="product.html">Oppo Reno 3</a></div>
                            <div class="product-brand">Oppo</div>
                            <div class="product-price">45000</div>
                            <div class="product-ratings">4.2stars (10 reviews)</div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/oppo-reno3.jpeg" alt="product1" />
                            <div class="product-name"><a href="product.html">Oppo Reno 3</a></div>
                            <div class="product-brand">Oppo</div>
                            <div class="product-price">45000</div>
                            <div class="product-ratings">4.2stars (10 reviews)</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All right reserved. © Loccco 2020
        </footer>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open");
        }

        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open");
        }
    </script>
</body>

</html>

</html>